{% extends 'base.html' %}

{% block title %}Novo Produto{% endblock %}

{% block content %}
    <div style="background: white; padding: 30px; border-radius: 8px; max-width: 600px; margin: auto;">
        <h2 style="color: var(--verde-amazonia);">Cadastrar Produto</h2>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}

            <br>
            <button type="submit" class="btn btn-primary">Salvar Produto</button>
            <a href="{% url 'home_produtor' %}" class="btn" style="background-color:#ccc; color: #333; margin-right: 10px ;">Cancelar</a>
        </form>
    </div>
{% endblock %}