{% extends 'base.html' %} {% block title %}Painel do Produtor{% endblock %}

{% block content %}
    <h1 style="color: var(--verde-amazonia);">Painel do Produtor Rural</h1>
    <p>Bem-vindo de volta! Aqui você gerencia sua produção.</p>
    <hr>

    <div style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
        <h2>Meus Produtos</h2>
        
        <a href="{% url 'cadastro_produto' %}" class="btn btn-destaque">
            + Cadastrar Novo Produto
        </a>
        <br><br>

        <p><i>Você ainda não tem produtos cadastrados nesta sessão.</i></p>
    </div>
{% endblock %}